/* Hide scrollbar for all elements */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* For Firefox */
}

/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb on hover */
}
